.uno{
	text-align: right;
	font-size: 20px;
	margin: 20px;
}
.dos{
	text-align: center;
}
h1{
	font-family: 'Merriweather', serif;
    font-size: 42px;
    text-align: center;
}
body{
	background: #FDCAE1;
}
nav a{
	background: #FFB6C1;
}
p{
	font-family: 'PT Sans Narrow', sans-serif; 
    margin: 20px;
    
}
.contenedorA{
    width: 50hv;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;
}
.contenedor1{
	margin: 10px;
}
.contenedor2{
	margin: 10px;
}
.contenedorB{
    width: 50hv;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: justify;
}
.contenedor3{
	margin: 10px;
}
.contenedor4{
	margin: 10px;
}
.eventos{
	font-family: 'Merriweather', serif;
	font-size: 42px;
	text-align: center;
}
.nosotro{
	font-family: 'Merriweather', serif;
	font-size: 42px;
	text-align: center;
}
.evento{
	font-family: 'Merriweather', serif;
	font-size: 42px;
	text-align: center;
}
.reseña{
	font-family: 'Merriweather', serif;
	font-size: 42px;
	text-align: center;
}
.frase{
	font-family: 'Merriweather', serif;
	font-size: 20px;
	text-align: center;
	margin: auto;
	
}

.logo{
	max-width: 15%;
	float: left;
}	
.logo2{
	max-width: 10%;
	float: right;
}
.boton_personalizado{
	background-color: #FFB6C1;
	border-radius: 12px;
	border: 10px double #FF0080;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 24px;
}
.boton_personalizado:hover{
	opacity: 0.6;
	color: #FFFFFF;
	background-color: #FF0080;
	border: 10px double #FFFFFF;
	text-decoration: none;
}
.contenedorImagA{
	width: 50hv;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ima1{
	margin: 20px;
}
.ima2{
	margin: 20px;
}
.ima3{
	margin: 20px;
}
.contenedorImagB{
	width: 50hv;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.ima4{
	margin: 20px;
}
.ima5{
	margin: 20px;
}
.ima6{
	margin: 20px;
}
.usuarios{
	width: 50hv;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user1{
	margin: 60px;
	text-align: center;
}
.user2{
	margin: 60px;
	text-align: center;
}
.user3{
	margin: 60px;
	text-align: center;
}
.nomUser{
	font-weight: bold;
}

img{
	margin: 10px;
}
.linea{
    border-top: 5px solid black;
}