body{
    background: #FDCAE1;
}
.logo{
    max-width: 15%;
    float: left;
}
.uno{
    text-align: right;
    font-size: 20px;
    margin: 20px;
}
nav{
    display: block;
}
nav a {
    background: #FFB6C1;
}
.logo2{
    max-width: 10%;
    float: right;
}
img{
    margin: 10px;
}
.primero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.segundo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tercero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuarto{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: 'Merriweather', serif;
    font-size: 42px;
    text-align: center;
}
.linea{
    border-top: 5px solid black;
}
.linea{
    border-top: 5px solid black;
}